* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Metropolis, serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

#display_screen{
  height: 100vh;
  padding-top: 70px;
  width:100%;
}

/* sidebar */
.side_menu {
  background-color: #3f3f3f;
  position: fixed; 
  left: 0;
  width: 200px;
  height: 100%;
  padding: 10px 0;
  transition: all 0.5s ease;
  overflow: hidden;
}

 .side_menu .menu_items li button {
  display: block;
  width: 100%;
  text-align: left;
  color: #efefef;
  font-size: medium;
  background-color: #3f3f3f;
  padding: 10px;
  border: none;
} 


.side_menu li {
  border-bottom: 1px solid #5f5f5f;
} 

.side_menu .menu_items li  button:hover,
.side_menu .menu_items li  button:active{
  transform: scale(1.025);
  background: #7f7f7f;
}

.item_1 .symbol {
  width: 90%;
  border-radius: 8px;
  margin: 15px 10px;
  padding: 5px;
  font-size: medium;
  background: #eee;
}


#empty_screen{
  margin-left:200px;
  padding: 10px 10px;
  height: 100%;
}


.place_order_open_menu{
  display:none;
  width: 100%;
  padding: 15px;
  font-size: medium;
  background: #5f5f5f;
}

.place_order_open_menu_inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  
}

.ordertype,
.place_order_open_menu_inputs input {
  width: 100%;
  border-radius: 4px;
  padding: 3px;
  font-size: 500;
  background: #eee;
  border: 1px solid #4f4f4f;
}

.place_order_open_menu_btn {

  display: inline-flex;
  gap: 1.5em;
  width: 100%;

}

.place_order_open_menu_btn input {
  padding: 5px;
  font-weight: bold;
  box-shadow: 0 5px 14px 0px rgba(0, 0, 0, 0.2);

}

.place_order_open_menu_btn input:first-child {
  background-color: #008800;
}

.place_order_open_menu_btn input:last-child {
  background-color: #CC0000;
}

.place_order_open_menu_btn input:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.buttons{
  padding:70px 15px 0px 15px;
}
.buttons button{
  padding: 8px 20px;
  font-weight: bold;
  font-size: medium;
  box-shadow: 0 5px 14px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffee44;
  border:none;
  border-radius: 4px; 
  margin: 15px 10px;
  color:#3f3f3f
}

.buttons button:hover {
  cursor: pointer;
  transform: scale(1.05);
 background-color: #fd4;
}

.history_screen{
  background-color: #eee;
  height: 100%;
}

.container{
  height:100vh;
  overflow: hidden;
}
